.create-task-button {
  cursor: pointer;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  border: none;
  background-color: #3662E3;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  position: fixed;
  bottom: 45px;
}

.create-task-button__icon {
  font-size: 40px;
  color: #FFFFFF;
}

.create-task-button:hover {
  animation-name: rotation;
  animation-duration: 2s;
}

@keyframes rotation {
  100% {transform: rotate(180deg);}
}