.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header__principal {
  display: flex;
  gap: 8px
}

.header__title {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
}

.header__description {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
}