body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 32px
}
